src/gamefiles/schemas/damage_types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="damageType" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:unique name="uniqueDamageTypeId">
            <xs:selector xpath="damageType"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>