src/gamefiles/schemas/link_types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd"/>

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="linkType" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="moveDistance" type="DistanceCategory" maxOccurs="unbounded"/>
                            <xs:element name="vehicleMoveAction" type="VehicleMoveAction" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="visible" type="xs:boolean"/>
                        <xs:attribute name="moveAction" type="xs:string" use="required"/>
                    </xs:complexType>
                    <xs:unique name="uniqueVehicleType">
                        <xs:selector xpath="vehicleMoveAction"/>
                        <xs:field xpath="@type"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueId">
            <xs:selector xpath="linkType"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="VehicleMoveAction">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="action" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>