src/gamefiles/schemas/loot_tables.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd"/>

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lootTable" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="item" type="LootEntry"/>
                            <xs:element name="table" type="LootEntry"/>
                        </xs:choice>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="useAll" type="xs:boolean"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueID">
            <xs:selector xpath="lootTable"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>