src/gamefiles/schemas/networks.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd"/>

    <xs:element name="data">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="node" type="NetworkNode"/>
                <xs:element name="scene" type="NetworkScene"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueNodeID">
            <xs:selector xpath="node"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueSceneID">
            <xs:selector xpath="scene"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="NetworkNode">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="node" type="NetworkNode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="type" type="NodeType"/>
        <xs:attribute name="scene" type="xs:string"/>
        <xs:attribute name="object" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="NetworkScene">
        <xs:sequence>
            <xs:element name="condition" type="xs:string" minOccurs="0"/>
            <xs:element name="line" type="SceneLine" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="choice" type="SceneChoice" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="type" type="LineSelectorType"/>
    </xs:complexType>

    <xs:simpleType name="NodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="data"/>
            <xs:enumeration value="control"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>