src/gamefiles/schemas/scenes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd"/>

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="scene" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="condition" type="xs:string" minOccurs="0"/>
                            <xs:element name="line" type="SceneLine" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="choice" type="SceneChoice" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="LineSelectorType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueId">
            <xs:selector xpath="scene"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>