src/gamefiles/schemas/weapon_classes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd"/>

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="weaponClass" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="range" type="DistanceCategory" maxOccurs="unbounded"/>
                            <xs:element name="attackType" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="isRanged" type="xs:boolean" use="required"/>
                        <xs:attribute name="isLoud" type="xs:boolean" use="required"/>
                        <xs:attribute name="skill" type="xs:string" use="required"/>
                    </xs:complexType>
                    <xs:unique name="uniqueRanges">
                        <xs:selector xpath="range"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                    <xs:unique name="uniqueAttackTypes">
                        <xs:selector xpath="attackType"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueID">
            <xs:selector xpath="weaponClass"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>